/*!
 * Start Bootstrap - Nice Engineering v4.0.0-beta.2 
 * Copyright 2013-2018 Nice Engineering
 */
.masthead {
  display: table;
  position: relative;
  width: 100%;
  height: auto;
  padding: 200px 0;
  padding-top: 15rem;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead #experience {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 20; }
  .masthead #lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    pointer-events: none;
    opacity: .55; }
  .masthead .left, .masthead .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }
  .masthead .intro-body {
    text-align: left; }
    .masthead .intro-body .brand-heading {
      font-size: 86px;
      line-height: 81px;
      margin-bottom: 0;
      font-weight: 300; }
    .masthead .intro-body .intro-text {
      margin-top: 3rem;
      max-width: 28rem;
      font-size: 21px;
      font-weight: 300;
      line-height: 28px; }
    .masthead .intro-body .btn-circle {
      position: relative;
      z-index: 40; }
  .masthead .left {
    float: left;
    padding-left: 6%;
    padding-top: 8rem; }
  .masthead .right {
    float: right;
    padding-left: 3%; }
    .masthead .right img {
      max-width: 600px;
      max-height: 660px;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 40;
      display: block;
      pointer-events: none; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding-bottom: 5rem; } }

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent; }
  .btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }

.content-section {
  height: 53.2rem;
  color: black;
  background: #f1f1f5;
  padding-top: 3rem; }
  .content-section .left, .content-section .right {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .content-section .left {
    width: 37%;
    padding-left: 6%;
    padding-top: 13rem;
    text-align: left; }
    .content-section .left h2 {
      font-weight: 300;
      margin-bottom: 1.5rem;
      font-size: 54px; }
    .content-section .left p {
      font-weight: 300;
      font-size: 23px;
      letter-spacing: .02em; }
    .content-section .left h4 {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 0.75rem; }
    .content-section .left ul {
      padding-left: 0;
      font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.02; }
      .content-section .left ul li {
        display: block; }
  .content-section .right {
    width: 63%;
    height: 100%;
    padding: 3rem 1.5rem 0;
    position: relative;
    font-size: 0; }
    .content-section .right div {
      position: absolute;
      left: 63%;
      top: 50%;
      height: 15rem;
      pointer-events: none;
      transform: translate(-50%, -38%); }
    .content-section .right .team {
      max-width: 1100px;
      max-height: 760px;
      height: auto;
      width: 100%;
      display: inline-block;
      position: relative;
      pointer-events: none; }
    .content-section .right:after {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: bottom; }

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 1024px) {
  .masthead {
    padding-top: 7rem; }
    .masthead .right {
      padding-top: 4rem; }
  .content-section {
    height: auto;
    padding-top: 0; }
    .content-section .left, .content-section .right {
      width: 100%; }
    .content-section .left {
      padding: 3rem; }
    .content-section .right {
      padding-top: 0 0.5rem; } }

@media screen and (max-width: 768px) {
  .masthead {
    height: auto; }
    .masthead .brand-heading {
      font-size: 52px; }
    .masthead p {
      font-size: 16px; }
    .masthead .left, .masthead .right {
      padding: 1.5rem 3rem;
      float: none;
      width: 100%;
      display: block; }
    .masthead .right img {
      margin: auto; }
  .content-section .left h2 {
    font-size: 36px; }
  .content-section .left h4 {
    font-size: 16px;
    font-weight: 500; }
  .content-section .left p {
    font-size: 18px; } }

@media screen and (max-width: 425px) {
  .content-section .left {
    padding: 2rem 1.5rem; } }
