@import 'variables.scss';
@import 'mixins.scss';

.masthead {
  display: table;
  position: relative;

  width: 100%;
  height: auto;
  padding: 200px 0;
  padding-top: 15rem;
  text-align: center;

  color: white;
  // background: url('../img/intro-bg.jpg') no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #experience {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // perspective: 800px;
    width: 100%;
    // min-height: 580px;
    overflow: hidden;
    // position: relative;
    z-index: 20;
  }
  #lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    pointer-events: none;
    opacity: .55;
  }

  .left, .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    // padding-top: 9rem;
    vertical-align: top;
  }

  .intro-body {
    text-align: left;

    .brand-heading {
      font-size: 86px;
      line-height: 81px;
      margin-bottom: 0;
      font-weight: $light-font-weight;
    }

    .intro-text {
      margin-top: 3rem;
      max-width: 28rem;

      font-size: 21px;
      font-weight: $light-font-weight;
      line-height: 28px;
    }

    .btn-circle {
      position: relative;
      z-index: 40;
    }
  }

  .left {
    float: left;
    padding-left: 6%;
    padding-top: 8rem;
  }

  .right {
    float: right;
    padding-left: 3%;

    img {
      max-width: 600px;
      max-height: 660px;
      width: 100%;
      height: auto;

      position: relative;
      z-index: 40;
      display: block;
      pointer-events: none;
    }
  }

  @media(min-width:768px) {
    height: 100%;
    padding-bottom: 5rem;
  }
}

.btn-circle {
  font-size: 26px;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.content-section {
  // height: 90%;
  height: 53.2rem;
  color: black;
  background: #f1f1f5;
  padding-top: 3rem;
  // padding-bottom: 3rem;

  .left, .right {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }

  .left {
    width: 37%;
    padding-left: 6%;
    padding-top: 13rem;
    text-align: left;

    h2 {
      font-weight: $light-font-weight;
      margin-bottom: 1.5rem;
      font-size: 54px;
      // line-height: 64px;
    }

    p {
      font-weight: $light-font-weight;
      font-size: 23px;
      letter-spacing: .02em;
    }

    h4 {
      font-weight: $bold-font-weight;
      font-size: 16px;
      margin-bottom: 0.75rem;
    }

    ul {
      padding-left: 0;
      font-family: $rubik;
      font-size: 16px;
      letter-spacing: 0.02;

      li {
        display: block;
      }
    }
  }

  .right {
    width: 63%;
    height: 100%;
    padding: 3rem 1.5rem 0;;
    position: relative;

    font-size: 0;

    div {
      position: absolute;
      left: 63%;
      top: 50%;
      height: 15rem;
      pointer-events: none;
      transform: translate(-50%,-38%)
    }

    .team {
      max-width: 1100px;
      max-height: 760px;
      height: auto;
      width: 100%;
      display: inline-block;
      // vertical-align: bottom;
      position: relative;
      // height: 45rem;
      pointer-events: none;
    }

    &:after {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:focus,
  &:hover {
    color: black;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: fade-out(white, .8);
}

@media screen and (max-width: 1024px) {
  .masthead {
    padding-top: 7rem;

    .right {
      padding-top: 4rem;
      .div {

      }
    }
  }

  .content-section {
    height: auto;
    padding-top: 0;

    .left, .right {
      width: 100%;
    }

    .left {
      padding: 3rem;
    }

    .right {
      padding-top: 0 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .masthead {
    height: auto;

    .brand-heading {
      font-size: 52px;
    }

    p {
      font-size: 16px;
    }

    .left, .right {
      padding: 1.5rem 3rem;
      float: none;
      width: 100%;
      display: block;
    }

    .right {
      img {
        margin: auto;
      }
    }
  }

  .content-section {
    .left {
      h2 {
        font-size: 36px;
      }

      h4 {
        font-size: 16px;
        font-weight: $medium-font-weight;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .content-section .left {
    padding: 2rem 1.5rem;
  }
}
